:root {
  --primary: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  --very-light-grayish-blue: hsl(240, 78%, 98%);
  --light-grayish-blue: hsl(234, 14%, 74%);
  --grayish-blue: hsl(233, 13%, 49%);
  --dark-grayish-blue: hsl(232, 13%, 33%);
  --font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
  list-style: none;
}

.body {
  display: grid;
  grid-template-rows: 200px repeat(3, 1fr);
  font-family: var(--font-family);
  font-weight: 700;
  background-color: var(--very-light-grayish-blue);
  background-image: url(/images/bg-top.svg);
  background-size: cover;
  background-position-x: 100px;
}

.price {
  font-size: 60px;
}

.btn {
  width: 80%;
  height: 35px;
  border-radius: 5px;
  border: none;
  background: var(--primary);
  font-family: var(--font-family);
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn:hover {
  cursor: pointer;
}

.light {
  background: white;
  color: hsl(237, 63%, 64%);
}

.our-pricing {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--dark-grayish-blue);
}
.pricing-container {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.eleccion-container {
  width: 50px;
  height: 25px;
  border-radius: 15px;
  background: var(--primary);
  padding: 1px;
}
.eleccion {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: white;
  margin-left: 1px;
}
.eleccion:hover {
  cursor: pointer;
}
.eleccion:active {
  transition: all 0.5s ease 0.5s;
}

.plans {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 450px;
  background: white;
  margin: 20px auto;
  box-shadow: 1px 1px 20px 0px hsl(237, 63%, 64%);
  border-radius: 10px;
  color: var(--dark-grayish-blue);
}

.basic {
  grid-row: 2;
}

.professional {
  grid-row: 3;
  background: var(--primary);
  color: white;
}

.master {
  grid-row: 4;
}

.info-container {
  width: 80%;
  text-align: center;
  border-top: 1px solid var(--light-grayish-blue);
}
.info-container li {
  padding: 20px 0;
  border-bottom: 1px solid var(--dark-grayish-blue);
}
